["3.80+aleph"
 "3.80+jetty"
 "3.80auth"
 "3.80auth-jwe"
 "3.80basic"
 "3.80boot"
 "3.80cljs"
 "3.80cucumber"
 "3.80datomic"
 "3.80graphql"
 "3.80h2"
 "3.80hoplon"
 "3.80http-kit"
 "3.80immutant"
 "3.80kee-frame"
 "3.80kibit"
 "3.80mongodb"
 "3.80mysql"
 "3.80oauth"
 "3.80postgres"
 "3.80re-frame"
 "3.80reagent"
 "3.80sassc"
 "3.80service"
 "3.80servlet"
 "3.80shadow-cljs"
 "3.80site"
 "3.80sqlite"
 "3.80swagger"
 "3.80undertow"
 "3.80war"
 "3.81+aleph"
 "3.81+auth"
 "3.81+auth-jwe"
 "3.81+basic"
 "3.81+boot"
 "3.81+cljs"
 "3.81+cucumber"
 "3.81+datomic"
 "3.81+graphql"
 "3.81+h2"
 "3.81+hoplon"
 "3.81+http-kit"
 "3.81+immutant"
 "3.81+jetty"
 "3.81+kee-frame"
 "3.81+kibit"
 "3.81+mongodb"
 "3.81+mysql"
 "3.81+oauth"
 "3.81+postgres"
 "3.81+re-frame"
 "3.81+reagent"
 "3.81+sassc"
 "3.81+service"
 "3.81+servlet"
 "3.81+shadow-cljs"
 "3.81+site"
 "3.81+sqlite"
 "3.81+swagger"
 "3.81+undertow"
 "3.81+war"
 "3.82"
 "3.82+aleph"
 "3.82+auth"
 "3.82+auth-jwe"
 "3.82+basic"
 "3.82+boot"
 "3.82+cljs"
 "3.82+cucumber"
 "3.82+datomic"
 "3.82+graphql"
 "3.82+h2"
 "3.82+hoplon"
 "3.82+http-kit"
 "3.82+immutant"
 "3.82+jetty"
 "3.82+kee-frame"
 "3.82+kibit"
 "3.82+mongodb"
 "3.82+mysql"
 "3.82+oauth"
 "3.82+postgres"
 "3.82+re-frame"
 "3.82+reagent"
 "3.82+sassc"
 "3.82+service"
 "3.82+servlet"
 "3.82+shadow-cljs"
 "3.82+site"
 "3.82+sqlite"
 "3.82+swagger"
 "3.82+undertow"
 "3.82+war"]
